@import "tailwindcss";

@theme {
  /* This tells Tailwind v4 about your brand colors */
  --color-natitude-black: #000000;
  --color-natitude-gray: #18181B;
  --color-natitude-pink: #FF00FF;
}

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

/* Instead of using @apply (which causes the error), 
   we define the class using standard CSS and our new theme variables.
*/
.brutalist-card {
  border: 3px solid white;
  background-color: var(--color-natitude-gray);
  padding: 1.5rem;
  box-shadow: 8px 8px 0px 0px var(--color-natitude-pink);
}

.pink-glow {
  text-shadow: 0 0 10px #FF00FF;
}